*{
	margin: 0;
	padding: 0;
}
html{
	box-sizing: border-box;
	height: 100%;
}
body{
	font-family: "Microsoft Yahei";
	font-size: .6rem;
	background-color: #f7fbfc;
	height: 100%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h2{
	color: #333;
	font-size: .75rem;
}